/* definindo variáveis para as cores */
:root{
  --vermelho: red;
  --preto: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elementos base */


/* estruturação do corpo da página */
body{
  background: var(--preto);
  font-family: 'ArialTimes New Roman', Times, serif;
  color: white;
}

/* alinhamento da barra de menu ao lado da logo*/
header .container{
    display: flex;
    flex-direction: row; /*Alinhamento dos elementos dos menus em linhas*/
    align-items: center;
    justify-content: space-between;
}

/* estilização da logo */
header .logo{
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black, Times";
  font-size: 40px;
}

/* decoração primária dos menus*/
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/* decoração secondária dos menus */
header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("/digitalinnovation.one.desafios/recriandoInterfaceDaNetflix/img/Capa-Ainbo.jpg");
  
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao{
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo{
  margin-top: 5%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilização dos botões */
.botao {
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .3s ease all;

}

.botao:hover{
  background-color: white;
  color: black;
}

.botao i{
  margin-right: 5px;
}

/* estilização do container */
.container{
  margin-left: 20px;
}

.filme-principal .container{
  width: 70%;
}

/* Estilização para a caixa de miniaturas de filmes do carrossel*/
.box-filme{
  height: 100%;
  width: 100%;
  display: block;
}

carrosel-filmes{
  margin-top: 10px;
}